.banner3{
    width: 100%;
    height: auto;
    min-height:600px;
    background-image: url('Faynara_banner1.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding:100px 0 100px 0;
}
.card:hover{
background: #8f7560;
color: white;
}
.form{
    height: 700px;
}
textarea{
    height: 210px;
}
input{
    height: 60px;
}